@media screen and (min-width: 315px) {
  .logo_title-about {
    display: unset;
    color: #323264;

  }
  .nav_about {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: #F5F5FA;
    width: 100%;
    height: 45px;
    z-index: 99;
  }
  .nav_list-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 14px;
    list-style: none;
    padding-inline-start: 0;


  }
  .nav_link-about {
    text-decoration: none;
    color: #B3B3BA;
    line-height: var(--main-line-height);
    font-size: 12px;
    letter-spacing: 1px;

  }
  .nav_link-about:hover {
    background-color: #F0145A;
    padding: 5px 7px;
    border-radius: 8px;
  }
  .contacts_phone-about {
    font-size: 16px;
    font-weight: 700;
    line-height: var(--main-line-height);
    margin: 0;
    text-decoration: none;
    color: #B3B3BA;;
    white-space: nowrap;

  }
  .nav_list-about li:last-child a.nav_link-about {
    background-color: #F0145A;
    padding: 5px 7px;
    border-radius: 8px;
    color: #fff;
  }
  .header_about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 60px;
    box-sizing: border-box;


    &__toggler {
      width: 24px;
      height: 15px;
      display: block;
      position: relative;
      z-index: 99;

    }

    &__toggler:hover {
      background-color: #E6E6F0;
      border-radius: 8px;
      width: 32px;
      height: 32px;
    }

    span {
      background: #323264;
      width: 100%;
      height: 1px;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      transform: translateY(-50%);

      &:nth-child(2) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:nth-child(3) {
        top: 100%;
      }
    }

    &__nav-about {
      position: fixed;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      display: none;
      flex-direction: column;
      align-items: center;
      padding: 0;
      box-sizing: border-box;
      background-color: rgba(50, 50, 100, 0.7);
      line-height: var(--main-line-height);


      &-list-wrapper {
        box-sizing: border-box;
        width: 100%;
        margin-top: auto;
        padding: 0 12px 19px 12px;
        background-color: #fff;
        border-radius: 0 0 12px 12px;
        z-index: 99;


      }

      &-list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 29px;
        padding-left: 0;
        margin-bottom: 0;
      }

      &-list li {
        width: 100%
      }

      &-link {
        display: flex;
        width: 100%;
        justify-content: center;
        box-sizing: border-box;
        color: #24a3ff;
        font-size: 24px;
        font-weight: 700;
        text-decoration: none;
        background-color: #f5f5fa;
        padding-top: 7px;
        padding-bottom: 7px;
        border-radius: 12px
      }
    }

    #nav-toggler:checked ~ &__nav {
      display: flex;
    }

    .nav__closebtn {
      width: 24px;
      height: 15px;
      display: block;
      position: relative;
      z-index: 99;
      margin: 19px 0 27px auto;

    }

    .nav__closebtn span {
      height: 1.5px;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      background-color: #ec6f5d;
      transform: translate(-50%, -50%) rotate(225deg)
    }

    .nav__closebtn span:nth-child(2) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-225deg)
    }

    .nav__closebtn span:hover {
      cursor: pointer;
    }


  }

  .logo_icon-about {
    fill: #323264;
    display: block;
    width: 69px;
    height: 32px;
  }

  .header__toggler:focus, .header__toggler:hover {
    background-color: #E6E6F0;
    cursor: pointer;
  }
  .header__toggler-list:focus, .header__toggler-list:hover {
    background-color: #E6E6F0;
    cursor: pointer;
  }
  .btn-about {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;

    &__circle {
      border-radius: 50%;
      display: block;
      cursor: pointer;
      background-color: #24A3FF;
      width: 16px;
      height: 16px;
      border: none;
    }

  }

  .btn__slider {
    opacity: 0.2;
  }

  .btn__slider:visited,
  .btn__slider:hover {
    background-color: #24A3FF;
    opacity: 1;
  }

  //about

  .about_title {
    font-weight: 700;
    font-size: 30px;
    color: #F0145A;
    margin-top: 30px;

  }
  .about_text {

    color: #000;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6;
    margin-top: 28px;
    margin-bottom: 30px;

  }

  //  numbers

  .numbers {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 30px;
    margin-bottom: 30px;
    border-left: 4px solid #E6E6F0;


    &__years,
    &__clients,
    &__hours {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      margin-left: 30px;
      flex-wrap: wrap;
      gap: 10px;
    }

    &__years p,
    &__clients p,
    &__hours p {
      margin: 0;
    }

  }

  //  team


  .team_about__text {
    font-weight: 400;
    font-size: 19px;
    line-height: 1.6;
    color: #000;


  }
  .team_about__title {
    color: #EF8080;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 60px;
  }


  //achievements

  .achievements {
    background-color: #F5F5FA;
  }
  .achievements__title {
    color: #323264;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;

  }

  .achievements__logo {
    padding: 25px 105px;
    background-color: #fff;
    margin: 30px auto;
  }

  //  footer

  .footer_about {
    background-color: #F5F5FA;
    gap: 30px;

  }
}

@media screen and (min-width: 750px) {

  .header__nav-list-about {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 30px;
    list-style: none;
    padding-inline-start: 0;


  }
  .header__nav-link-about {

    color: #24A3FF;
    background-color: unset;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
    font-size: 16px;

  }
  .logo_slash-about {
    display: unset;
  }
  .header_about {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

  }
}


