@media screen and (min-width: 315px) {
  .companies {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;


    &__title {
      margin-bottom: 30px;
      color: #323264;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      text-align: center;

    }

    &__logo-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: auto;

    }
  }

  .companies_logo-card:nth-child(n+7) {
    display: none;

  }
}
@media screen and (min-width: 750px) {
  .companies_logo-card:nth-child(n+7) {
    display: unset;

  }
  .companies__logo-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 120px);
  }

  .companies_logo-card img {
    object-fit: cover;
    height: 120px;
    overflow: hidden;

  }


}
@media screen and (min-width: 920px) {
  .companies__logo-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  }

