@media screen and (max-width: 520px) {
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
  }


  .center {
    padding-left: calc(50vw - 157px);
    padding-right: calc(50vw - 157px);
  }
  img {
    display: block;
    max-width: 100%;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  a:focus, a:hover {
    background-color: #E6E6F0;
  }
  .nav_link:active {
    background-color: #F0145A;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  .gradient_block {
    background: var(--background-gradient);
  }
  .color_block {
    background-color: #F5F5FA;
  }
  a {
    text-decoration: none;
  }



}


