@media screen and (min-width: 315px) {
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff;
  }


  .center {
    padding-left: calc(50vw - 157px);
    padding-right: calc(50vw - 157px);
  }
  img {
    display: block;
    max-width: 100%;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .nav_link:active {
    background-color: #F0145A;
  }
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
  .gradient_block {
    background: url("/img/h_symbol.svg") no-repeat left top,var(--background-gradient);
    border-radius: 0 0 12px 12px;

  }
  .color_block {
    background-color: #F5F5FA;
  }
  a {
    text-decoration: none;
  }

  //.rectangle {
  //  position: relative;
  //  width: 315px;
  //  height: 10px;
  //  color: #CACADB;
  //}
  //
  //.rectangle::before,
  //.rectangle::after {
  //  content: "";
  //  position: absolute;
  //  width: 315px;
  //  height: 10px;
  //  background-color: #000;
  //}




}

@media screen and (min-width: 520px) {

  .center {
    padding-left: calc(50vw - 384px);
    padding-right: calc(50vw - 384px);
  }
  .gradient_block {
    background: url("/img/h_symbol_tablet.svg") no-repeat left top, var(--background-gradient);

  }
}






