@media screen and (min-width: 315px) {
  .offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;


    &__list {
      position: absolute;
      top: 630px;
      left: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      padding-bottom: 30px;
      gap: 30px;
      overflow-x: auto;
      white-space: nowrap;
      box-sizing: border-box;
      width: 100%;
      z-index: 1;
      padding-inline-start: 30px;





      &-link {
        text-decoration: none;
        font-weight: 700;
        font-size: 30px;
        color: #B3B3BA;

      }

    }

    &__desc {
      margin: 730px 0 30px 0;
      display: flex;
      flex-direction: column;
      gap: 30px;
      color: #fff;


      &-title {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
        line-height: var(--main-line-height);

      }

      &-item {
        font-size: 19px;
        font-weight: 400;
        line-height: 1.5;

      }
    }

  }
  .offer__list li:first-child a.offer__list-link {
    color: #F0145A;
  }

}

@media screen and (min-width: 750px) {
  .offer__list {
    top: 1084px;
    margin: 0;

  }
  .offer__desc {
    margin-top: 1230px;

    &-title {
      font-size: 30px;
    }
  }
}

@media screen and (min-width: 920px) {

  .offer {
    display: grid;
    grid-template-columns: 1fr 1fr;


    &__desc {
      margin-top: 843px;
      padding-left: 60px;
    }


    .offer__list {
      flex-direction: column;
      top: 843px;
      width: unset;
      padding-right: 60px;
      align-items: flex-end;
      overflow-x: unset;

      &-link {
        font-size: 38px;
      }
    }

    &__list:after {
      content: "";
      position: absolute;
      width: 4px;
      height: 303px;

    }




  }
}

@media screen and (min-width: 1200px) {
  .offer__list {
    padding-bottom: 75px;
  }
}